{
  "openapi": "3.0.0",
  "info": {
    "termsOfService": "https://wormbase.org/about/userguide/for_developers/api-rest#0--10",
    "contact": { 
       "name": "Wormbase Help",
       "email": "help@wormbase.org",
       "url": "https://wormbase.org/tools/support?url=/"
    },
    "title": "WormBase REST API",
    "description": "Widget and field endpoints used by the official [WormBase](http://www.wormbase.org) site.",
    "version": "0.5.2"
  },
  "servers": [
    {
      "url": "http://rest.wormgbase.org/",
      "variables": {}
    }
  ],
  "tags": [
    {
      "description": "NIH Data Commons",
      "name": "NIHdatacommons"
    }  
  ],
  "paths": {
    "/rest/widget/analysis/{id}/external_links": {
      "get": {
        "tags": [
          "analysis widgets"
        ],
        "summary": "RestWidgetAnalysisExternalLinksById",
        "operationId": "RestWidgetAnalysisExternalLinksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/analysis/{id}/overview": {
      "get": {
        "tags": [
          "analysis widgets"
        ],
        "summary": "RestWidgetAnalysisOverviewById",
        "operationId": "RestWidgetAnalysisOverviewById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/analysis/{id}/references": {
      "get": {
        "tags": [
          "analysis widgets"
        ],
        "summary": "RestWidgetAnalysisReferencesById",
        "operationId": "RestWidgetAnalysisReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/based_on_db_release": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisBasedOnDbReleaseById",
        "operationId": "RestFieldAnalysisBasedOnDbReleaseById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/based_on_wb_release": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisBasedOnWbReleaseById",
        "operationId": "RestFieldAnalysisBasedOnWbReleaseById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/conducted_by": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisConductedByById",
        "operationId": "RestFieldAnalysisConductedByById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/description": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisDescriptionById",
        "operationId": "RestFieldAnalysisDescriptionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/name": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisNameById",
        "operationId": "RestFieldAnalysisNameById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/project": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisProjectById",
        "operationId": "RestFieldAnalysisProjectById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/references": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisReferencesById",
        "operationId": "RestFieldAnalysisReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/subproject": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisSubprojectById",
        "operationId": "RestFieldAnalysisSubprojectById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/title": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisTitleById",
        "operationId": "RestFieldAnalysisTitleById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/url": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisUrlById",
        "operationId": "RestFieldAnalysisUrlById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/analysis/{id}/xrefs": {
      "get": {
        "tags": [
          "analysis fields"
        ],
        "summary": "RestFieldAnalysisXrefsById",
        "operationId": "RestFieldAnalysisXrefsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Analysis ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/anatomy_term/{id}/associations": {
      "get": {
        "tags": [
          "anatomy_term widgets"
        ],
        "summary": "RestWidgetAnatomyTermAssociationsById",
        "operationId": "RestWidgetAnatomyTermAssociationsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/anatomy_term/{id}/expression_markers": {
      "get": {
        "tags": [
          "anatomy_term widgets"
        ],
        "summary": "RestWidgetAnatomyTermExpressionMarkers",
        "operationId": "RestWidgetAnatomyTermExpressionMarkers",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/anatomy_term/{id}/external_links": {
      "get": {
        "tags": [
          "anatomy_term widgets"
        ],
        "summary": "RestWidgetAnatomyTermExternalLinksById",
        "operationId": "RestWidgetAnatomyTermExternalLinksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/anatomy_term/{id}/ontology_browser": {
      "get": {
        "tags": [
          "anatomy_term widgets"
        ],
        "summary": "RestWidgetAnatomyTermOntologyBrowserById",
        "operationId": "RestWidgetAnatomyTermOntologyBrowserById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/anatomy_term/{id}/overview": {
      "get": {
        "tags": [
          "anatomy_term widgets"
        ],
        "summary": "RestWidgetAnatomyTermOverviewById",
        "operationId": "RestWidgetAnatomyTermOverviewById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/anatomy_function_nots": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermAnatomyFunctionNots",
        "operationId": "RestFieldAnatomyTermAnatomyFunctionNots",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/anatomy_functions": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermAnatomyFunctionsById",
        "operationId": "RestFieldAnatomyTermAnatomyFunctionsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/definition": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermDefinitionById",
        "operationId": "RestFieldAnatomyTermDefinitionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/expression_clusters": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermExpressionClusters",
        "operationId": "RestFieldAnatomyTermExpressionClusters",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/expression_patterns": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermExpressionPatterns",
        "operationId": "RestFieldAnatomyTermExpressionPatterns",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/gene_ontology": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermGeneOntologyById",
        "operationId": "RestFieldAnatomyTermGeneOntologyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/markers": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermMarkersById",
        "operationId": "RestFieldAnatomyTermMarkersById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/name": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermNameById",
        "operationId": "RestFieldAnatomyTermNameById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/synonyms": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermSynonymsById",
        "operationId": "RestFieldAnatomyTermSynonymsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/term": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermTermById",
        "operationId": "RestFieldAnatomyTermTermById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/transgenes": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermTransgenesById",
        "operationId": "RestFieldAnatomyTermTransgenesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/wormatlas": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermWormatlasById",
        "operationId": "RestFieldAnatomyTermWormatlasById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/anatomy_term/{id}/xrefs": {
      "get": {
        "tags": [
          "anatomy_term fields"
        ],
        "summary": "RestFieldAnatomyTermXrefsById",
        "operationId": "RestFieldAnatomyTermXrefsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Anatomy_term ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/antibody/{id}/expression": {
      "get": {
        "tags": [
          "antibody widgets"
        ],
        "summary": "RestWidgetAntibodyExpressionById",
        "operationId": "RestWidgetAntibodyExpressionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/antibody/{id}/overview": {
      "get": {
        "tags": [
          "antibody widgets"
        ],
        "summary": "RestWidgetAntibodyOverviewById",
        "operationId": "RestWidgetAntibodyOverviewById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/antibody/{id}/references": {
      "get": {
        "tags": [
          "antibody widgets"
        ],
        "summary": "RestWidgetAntibodyReferencesById",
        "operationId": "RestWidgetAntibodyReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/animal": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyAnimalById",
        "operationId": "RestFieldAntibodyAnimalById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/antigen": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyAntigenById",
        "operationId": "RestFieldAntibodyAntigenById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/clonality": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyClonalityById",
        "operationId": "RestFieldAntibodyClonalityById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/constructed_by": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyConstructedByById",
        "operationId": "RestFieldAntibodyConstructedByById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/corresponding_gene": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyCorrespondingGeneById",
        "operationId": "RestFieldAntibodyCorrespondingGeneById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/expression_patterns": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyExpressionPatternsById",
        "operationId": "RestFieldAntibodyExpressionPatternsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/historical_gene": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyHistoricalGeneById",
        "operationId": "RestFieldAntibodyHistoricalGeneById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/laboratory": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyLaboratoryById",
        "operationId": "RestFieldAntibodyLaboratoryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/name": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyNameById",
        "operationId": "RestFieldAntibodyNameById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/other_names": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyOtherNamesById",
        "operationId": "RestFieldAntibodyOtherNamesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/references": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyReferencesById",
        "operationId": "RestFieldAntibodyReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/remarks": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodyRemarksById",
        "operationId": "RestFieldAntibodyRemarksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/antibody/{id}/summary": {
      "get": {
        "tags": [
          "antibody fields"
        ],
        "summary": "RestFieldAntibodySummaryById",
        "operationId": "RestFieldAntibodySummaryById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Antibody ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/external_links": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsExternalLinksById",
        "operationId": "RestWidgetCdsExternalLinksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/feature": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsFeatureById",
        "operationId": "RestWidgetCdsFeatureById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/location": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsLocationById",
        "operationId": "RestWidgetCdsLocationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/overview": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsOverviewById",
        "operationId": "RestWidgetCdsOverviewById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/reagents": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsReagentsById",
        "operationId": "RestWidgetCdsReagentsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/cds/{id}/references": {
      "get": {
        "tags": [
          "cds widgets"
        ],
        "summary": "RestWidgetCdsReferencesById",
        "operationId": "RestWidgetCdsReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/corresponding_all": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsCorrespondingAllById",
        "operationId": "RestFieldCdsCorrespondingAllById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/description": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsDescriptionById",
        "operationId": "RestFieldCdsDescriptionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/features": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsFeaturesById",
        "operationId": "RestFieldCdsFeaturesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/fpkm_expression_summary_ls": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsFpkmExpressionSummaryLsById",
        "operationId": "RestFieldCdsFpkmExpressionSummaryLsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/genetic_position": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsGeneticPositionById",
        "operationId": "RestFieldCdsGeneticPositionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/genomic_image": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsGenomicImageById",
        "operationId": "RestFieldCdsGenomicImageById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/genomic_position": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsGenomicPositionById",
        "operationId": "RestFieldCdsGenomicPositionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/identity": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsIdentityById",
        "operationId": "RestFieldCdsIdentityById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/jbrowse_tracks": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsJbrowseTracksById",
        "operationId": "RestFieldCdsJbrowseTracksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/matching_cdnas": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsMatchingCdnasById",
        "operationId": "RestFieldCdsMatchingCdnasById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/method": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsMethodById",
        "operationId": "RestFieldCdsMethodById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/microarray_assays": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsMicroarrayAssaysById",
        "operationId": "RestFieldCdsMicroarrayAssaysById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/name": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsNameById",
        "operationId": "RestFieldCdsNameById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/orfeome_assays": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsOrfeomeAssaysById",
        "operationId": "RestFieldCdsOrfeomeAssaysById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/partial": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsPartialById",
        "operationId": "RestFieldCdsPartialById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/pcr_products": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsPcrProductsById",
        "operationId": "RestFieldCdsPcrProductsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/references": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsReferencesById",
        "operationId": "RestFieldCdsReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/remarks": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsRemarksById",
        "operationId": "RestFieldCdsRemarksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/sequence_type": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsSequenceTypeById",
        "operationId": "RestFieldCdsSequenceTypeById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/source_clone": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsSourceCloneById",
        "operationId": "RestFieldCdsSourceCloneById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/taxonomy": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsTaxonomyById",
        "operationId": "RestFieldCdsTaxonomyById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/tracks": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsTracksById",
        "operationId": "RestFieldCdsTracksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/cds/{id}/xrefs": {
      "get": {
        "tags": [
          "cds fields"
        ],
        "summary": "RestFieldCdsXrefsById",
        "operationId": "RestFieldCdsXrefsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Cds ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/clone/{id}/external_links": {
      "get": {
        "tags": [
          "clone widgets"
        ],
        "summary": "RestWidgetCloneExternalLinksById",
        "operationId": "RestWidgetCloneExternalLinksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/clone/{id}/location": {
      "get": {
        "tags": [
          "clone widgets"
        ],
        "summary": "RestWidgetCloneLocationById",
        "operationId": "RestWidgetCloneLocationById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/clone/{id}/overview": {
      "get": {
        "tags": [
          "clone widgets"
        ],
        "summary": "RestWidgetCloneOverviewById",
        "operationId": "RestWidgetCloneOverviewById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/clone/{id}/references": {
      "get": {
        "tags": [
          "clone widgets"
        ],
        "summary": "RestWidgetCloneReferencesById",
        "operationId": "RestWidgetCloneReferencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/widget/clone/{id}/sequences": {
      "get": {
        "tags": [
          "clone widgets"
        ],
        "summary": "RestWidgetCloneSequencesById",
        "operationId": "RestWidgetCloneSequencesById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/canonical_for": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneCanonicalForById",
        "operationId": "RestFieldCloneCanonicalForById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/canonical_parent": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneCanonicalParentById",
        "operationId": "RestFieldCloneCanonicalParentById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/end_reads": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneEndReadsById",
        "operationId": "RestFieldCloneEndReadsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/expression_patterns": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneExpressionPatternsById",
        "operationId": "RestFieldCloneExpressionPatternsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/genomic_image": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneGenomicImageById",
        "operationId": "RestFieldCloneGenomicImageById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/genomic_position": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneGenomicPositionById",
        "operationId": "RestFieldCloneGenomicPositionById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/gridded_on": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneGriddedOnById",
        "operationId": "RestFieldCloneGriddedOnById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/in_strain": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneInStrainById",
        "operationId": "RestFieldCloneInStrainById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/jbrowse_tracks": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneJbrowseTracksById",
        "operationId": "RestFieldCloneJbrowseTracksById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/lengths": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneLengthsById",
        "operationId": "RestFieldCloneLengthsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/maps": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneMapsById",
        "operationId": "RestFieldCloneMapsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/name": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldCloneNameById",
        "operationId": "RestFieldCloneNameById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/pcr_product": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldClonePcrProductById",
        "operationId": "RestFieldClonePcrProductById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
    "/rest/field/clone/{id}/predicted_units": {
      "get": {
        "tags": [
          "clone fields"
        ],
        "summary": "RestFieldClonePredictedUnitsById",
        "operationId": "RestFieldClonePredictedUnitsById",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "WormBase Clone ID",
            "required": true,
            "style": "simple",
            "explode": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": ""
          },
          "default": {
            "description": ""
          }
        },
        "deprecated": false,
        "security": [],
        "x-operation-settings": {
          "CollectParameters": false,
          "AllowDynamicQueryParameters": false,
          "AllowDynamicFormParameters": false,
          "IsMultiContentStreaming": false
        }
      }
    },
[...]
