div.header {
    position: fixed;
    width: 100%;
    background: #111111;
    color: #ccdddd;
    height: 75px;
    padding: 8px;
    z-index: 10000000;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
}

div.header-identity {.
}

div.header-main {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    padding-left: 20px;
}

h1#page-title {
    display: inline-block;
    margin-top: 0px;
    font-size: 20pt;
}

div.container {
    padding-top: 90px;
    width: 100%;
}

div.container-fluid {
    padding-top: 90px;
    width: 100%;
}

table.trace-tree {
    font-size: 95%;
}

.txn {
    font-size: 70%;
    color: brown;
    margin-right: 5px;
    -webkit-flex: 1 1;
    flex: 1 1;
}

div.trace-header {
    position: fixed;
    width: 100%;
    background: #eeeeee;
    padding: 5px;
    border-bottom: 1px solid gray;
}

.values-holder {
    display: -webkit-flex;
    display: flex;
}

.values-list {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.edit-root {
    display: -webkit-flex;
    display: flex;
    width: 100%;
    position: relative;
}

.edit-inactive {
    flex-grow: 1;
    -webkit-flex-grow: 1;
}

.collapse-button {
    -webkit-flex: none;
    flex: none;
    -webkit-flex-basis: 24px;
    flex-basis: 24px;
    -webkit-align-self: flex-start;
    align-self: flex-start;
    margin-right: 5px;
}

div.column-holder {
    display: -webkit-flex;
    display: flex;
    background-color: #eeeeee;
    border-radius: 5px;
    border: solid 1px #888888;
    margin-bottom: 8px;
}

form.form-inline {
    margin: 8px;
}

button.remove {
    background: none;
    border: none;
    border-right: 1px solid #888888;
}

div.form-group {
    margin-right: 8px;
}

div.candidate-list {
    position: absolute;
    top: 25px;
    background: white;
    border: solid grey 2px;
    padding: 4px;
    z-index: 5000;
    opacity: 0.9;
}

div.candidate-item {
}

span.add-button-holder {
    position: relative;
}

div.add-list {
    background: white;
    padding-top: 6px;
    padding-bottom: 6px;
    width: 250px;
}

div.add-item {
    padding-left: 6px;
    padding-right: 6px;
}

div.add-item:hover {
    background: #bbbbbb;
}

div.add-item-disabled {
    color: #cccccc;
    pointer-events: none;
}

div.add-item-disabled:hover {
    background: none;
}

div.history-box-holder {
    position: relative;
    top: 25px;
    right: 280px;
}

div.history-box {
//    position: absolute;
    display: inline-block;
    background: white;
    padding: 5px;
    border: solid black 1px;
}

table.history-table {
    margin-bottom: 0px;
    font-size: 8pt;
    width: 350px;
}

table.history-table td {
    padding: 3px;
}

div.trace-item {
    display: -webkit-flex;
    display: flex;
}

td.prop-name {
    white-space: nowrap;
}

td.prop-val {
    padding-left: 10px !important;
    width: 99%;
}

.trace-item-content {
    width: 100%;
    -webkit-flex: 1 1;
    flex: 1 1;
}

.text-editable {
    width: 100%;
    background: none;
}

.edited {
    background: #ddaaff;
}

.header button {
    color: black;
}