option_settings:
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '360'
    MaxSize: '4'
    MinSize: '2'
  aws:autoscaling:trigger:
    BreachDuration: 5
    MeasureName: CPUUtilization
    Statistic: Average
    Unit: Percent
    UpperBreachScaleIncrement: 1
    LowerBreachScaleIncrement: -1
    LowerThreshold: 10
    UpperThreshold: 70
  aws:autoscaling:launchconfiguration:
    BlockDeviceMappings: /dev/xvdcz=:12:true:gp2
    EC2KeyName: eb-d2c
    IamInstanceProfile: aws-elasticbeanstalk-ec2-role
    InstanceType: m4.xlarge
    MonitoringInterval: 5 minute
    SSHSourceRestriction: tcp,22,22,0.0.0.0/0
    SecurityGroups: sg-c92644b3,sg-15f6f762
  aws:autoscaling:updatepolicy:rollingupdate:
    MaxBatchSize: null
    MinInstancesInService: null
    PauseTime: null
    RollingUpdateEnabled: 'false'
    RollingUpdateType: Time
    Timeout: PT30M
